[submodule "Colors.css"]
	path = Colors.css
	url = https://github.com/eustasy/Colors.css
[submodule "authenticatron"]
	path = authenticatron
	url = https://github.com/eustasy/authenticatron
[submodule "browning"]
	path = browning-a-mailgun-script
	url = https://github.com/eustasy/browning
[submodule "cdns"]
	path = cdns
	url = https://github.com/eustasy/cdns
[submodule "here-miss"]
	path = here-miss
	url = https://github.com/eustasy/here-miss
[submodule "jQuery.downBoy"]
	path = jQuery.downBoy
	url = https://github.com/eustasy/jQuery.downBoy
[submodule "jQuery.equalize"]
	path = jQuery.equalize
	url = https://github.com/eustasy/jQuery.equalize
[submodule "jQuery.leanModal2"]
	path = jQuery.leanModal2
	url = https://github.com/eustasy/jQuery.leanModal2
