/* $Grid */
/* Simple responsive grid by Cassidy James Blaede <c@ssidyjam.es> */
.grid .whole,.grid>*{width:100%}*{box-sizing:border-box}.grid::after,.grid::before{display:table;content:"";line-height:0;clear:both}.grid>*{padding:.5em;float:left}.grid .half{width:50%}.grid .quarter{width:25%}.grid .three-quarters{width:75%}.grid .third{width:33.33%}.grid .two-thirds{width:66.67%}@media only screen and (min-width:640px){.grid .smablet-whole{width:100%}.grid .smablet-half{width:50%}.grid .smablet-quarter{width:25%}.grid .smablet-three-quarters{width:75%}.grid .smablet-third{width:33.33%}.grid .smablet-two-thirds{width:66.67%}}@media only screen and (min-width:768px){.grid .medium-whole{width:100%}.grid .medium-half{width:50%}.grid .medium-quarter{width:25%}.grid .medium-three-quarters{width:75%}.grid .medium-third{width:33.33%}.grid .medium-two-thirds{width:66.67%}}@media only screen and (min-width:1025px){.grid .large-whole{width:100%}.grid .large-half{width:50%}.grid .large-quarter{width:25%}.grid .large-three-quarters{width:75%}.grid .large-third{width:33.33%}.grid .large-two-thirds{width:66.67%}}@media only screen and (min-width:1441px){.grid .xlarge-whole{width:100%}.grid .xlarge-half{width:50%}.grid .xlarge-quarter{width:25%}.grid .xlarge-three-quarters{width:75%}.grid .xlarge-third{width:33.33%}.grid .xlarge-two-thirds{width:66.67%}}@media only screen and (min-width:1921px){.grid .xxlarge-whole{width:100%}.grid .xxlarge-half{width:50%}.grid .xxlarge-quarter{width:25%}.grid .xxlarge-three-quarters{width:75%}.grid .xxlarge-third{width:33.33%}.grid .xxlarge-two-thirds{width:66.67%}}

/* $Default */
header,
.section-guide,
footer {
	margin: 0 auto;
	width: 100%;
}
header { padding: 5rem; }
footer { padding: 5rem 5rem 3rem; }
.section-guide {
	max-width: 80rem;
}
section {
	display: inline-block;
	max-width: 80rem;
	padding: 1rem 0;
	position: relative;
	vertical-align: top;
}

code,
input,
textarea {
	border: none;
	display: block;
	line-height: 2;
	margin: 0;
	outline: none;
	padding: .7rem 1rem;
	text-align: left;
	white-space: pre-wrap;
}
textarea { resize: vertical; }

img { max-width: 100%; }

hr {
	background: #ccc;
	background: linear-gradient(to right, transparent 0%, #cccccc 47%, transparent 100%);
	border: none;
	height: 1px;
	width: 100%;
}
hr.section-breaker {
	margin: 5rem auto;
	max-width: 80rem;
}

/* $Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
	font-family: 'Open Sans', serif;
	font-size: 3rem;
	font-weight: 300;
}
h2 {
	font-family: 'Roboto', serif;
	font-size: 2rem;
	font-weight: 400;
}
h3 {
	font-family: 'Roboto', serif;
	font-size: 1.7rem;
	font-weight: 400;
}
h1 + .sub-title {
	margin-top: -1rem;
}
.fancy {
	font-family: 'Lusitana', serif;
}

/* $Links */
a {
	color: inherit;
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

/* $Buttons */
.button {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
	            0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 2rem 0;
	padding: .7rem 1rem;
	transition: all 200ms ease-in-out;
}
.button:hover { opacity: 0.9; }
.button:active { box-shadow: none; }
.false-text-button {
	margin: 2rem 0;
	padding: .7rem;
}

/* $Classes */

.clear-fix { zoom: 1; }
.clear,
.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

.float-center { margin: 0 auto; }
.float-left { float: left; }
.float-right { float: right; }

.display-none { display: none; }
.display-block { display: block; }
.display-inline { display: inline-block; }
code.display-inline,
input.display-inline,
textarea.display-inline {
	line-height: 1.4;
	padding: .35rem .5rem;
}

.rounded { border-radius: 5px; }

.min-width-10vw { min-width: 10vw; }

.breaker { height: 1rem; width: 100%; }

/* $BrowserSize */
.browser-size h2 {
	font-size: 3rem;
	font-weight: 300;
}
.js-target-size {
	position: absolute;
}
.js-target-size.height {
	margin: 0 1rem;
}
.js-target-size.width {
	bottom: 0;
	margin: 1rem auto;
	width: 100%;
}

/* $GitHubCorner */
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
.github-corner svg{position: absolute; top: 0; border: 0; right: 0;}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
.fill-white { fill: #ffffff; }
.fill-belize-hole { fill: #2980B9; }
